extends layout.pug
block content
    div.contain.one
        div.margin
            h1.title Fosscord
            h5 A free, open-source, and self-hostable chat, voice, and video platform.
            a.btn(href="https://dev.fosscord.com") Open web-client
    div.contain.two
        div.margin.d-flex
            div.left
                h3 About Fosscord
                p Fosscord is a FOSS (free open source software) chat, voice, and video platform compatible with the Discord API.
                div Fosscord is
                    ul.list.accent
                        li.item Discord-compatible
                        li.item Selfhostable
                        li.item Open Source
                        li.item Configurable
                        li.item Secure
                        li.item Decentralized
                        li.item Extendable
                        li.item Themable
            div.right.align-self-auto
                img.img-fluid(src="assets/conference.png")
