extends layout.pug
block content
    div.contain.one
        div.margin
            figure
                blockquote
                    p.descquote <span>"</span>Free open source selfhostable chat, voice and video platform<span>"</span>
                figcaption We are Fosscord
    div.contain.two
        div.margin.d-flex
            div.left
                h3 About Fosscord
                p Fosscord is free open source software compatible to discord. It is a selfhostable Chat, Voice and Video platform similar to Slack and Rocket.chat.
                ul
                    li Discord-compatible
                    li Selfhostable
                    li Open Source
                    li Configurable
                    li Secure
                    li Decentralized
                    li Extendable
                    li Themable
            div.right.align-self-end
                img.img-fluid(src="img/computer.png")