extends layout.pug
block content
    div.contain.first
        div.marginc
            figure
                blockquote
                    p.descquote <span>"</span>Free open source selfhostable chat, voice and video platform<span>"</span>
                figcaption We are Fosscord