//- page-a.pug
extends layout.pug
block content
    div.alert.alert-warning This website is an Work In Progress! So, please consider this content can change every time!
    div.contain.first
        div.marginc
            figure
                blockquote
                    p.descquote <span>"</span>Free open source selfhostable chat, voice and video platform<span>"</span>
                figcaption We are Fosscord