:root {
  --bg-main: #2c2f33;
}

body {
  font-family: "Sans", sans-serif !important;
}

.navbar {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color 0.5s;
}

.navbar li a,
.navbar .github-btn {
  color: blackt;
  font-weight: 200 !important;
}

.navbar li a:hover {
  color: #7289da !important;
}

.scrolled {
  background-color: var(--bg-main) !important;
}

.scrolled li a,
.scrolled .github-btn {
  color: white !important;
}

.navbar .navbar-toggler {
  background-color: white !important;
}

.github-btn {
  border-radius: 4px;
  padding: 6px 6px 5px 6px;
  transition: 0.3s;
  display: inline-block;
  border: 2px solid #7289da;
  color: inherit !important;
  text-decoration: none;
}

.github-btn:hover,
.github-btn:focus {
  background-color: transparent;
}

@media (max-width: 991px) {
  .navbar-collapse {
    border-radius: 15px;
    padding: 0.5em;
    background-color: var(--bg-main) !important;
    margin-top: 1em;
  }

  .navbar-collapse li a {
    color: white !important;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding-left: initial;
    padding-right: initial;
  }
}

.marginc,
.navbar .container-fluid {
  margin: 0 auto;
  max-width: 1140px;
}

.main {
  margin-top: 80px;
  text-align: center;
  background-color: white;
}

.alert {
  margin: 0 !important;
}

.contain {
  background-color: var(--bg-main);
  margin: 0 auto;
  color: white;
}

.contain.first {
  padding-top: calc(
    100vh / 2 - 100px
  ); /* screen height / 2 + (navbar height + warning height) */
  padding-bottom: calc(
    100vh / 2 - 100px
  );
}

.descquote {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  font-family: "Poppins", sans-serif;
}

.descquote span {
  color: #7289da;
}
